body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  background-color: var(--background-color);
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.company-list__link, .navigation, .header__wrap, .employees-icons__link, .advantages__card-set, .modal__privacy-text div, .modal__privacy-text, .modal__field-privacy, .modal__close, .mobile-close {
  display: flex;
  align-items: center;
  justify-content: center;
}

:root {
  --primary-color: #212121;
  --secondary-color: #757575;
  --accent-color: #2196f3;
  --logo-color: #000000;
  --icon-color: #afb1b8;
  --background-color: #ffffff;
  --background-secondary-color: #2f303a;
  --background-portfolio-color: #ececec;
  --advantages-background-color: #f5f4fa;
  --main-btn-color: #ffffff;
  --border-color: #eeeeee;
  --modal-btn-color: #188ce8;
  --gradient-hero: linear-gradient(
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)
  );
}

.btn {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border: none;
  color: #ffffff;
  background: var(--accent-color);
}

.container {
  margin-right: auto;
  margin-left: auto;
  max-width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 320px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.sprite {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.section-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.logo {
  margin-right: auto;
  padding-top: 16px;
  padding-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .logo {
    margin-right: 88px;
    padding-top: 26px;
    padding-bottom: 26px;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.section-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--logo-color);
}

.mobile-menu-btn {
  padding: 0;
  margin-left: auto;
  background-color: transparent;
  border: none;
}
@media screen and (min-width: 768px) {
  .mobile-menu-btn {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .mobile-menu-btn {
    display: none;
  }
}

.mobile-menu {
  width: 100vw;
  height: 100vh;
  background-color: var(--background-color);
  top: 0;
  position: fixed;
  z-index: 1;
}
.mobile-menu > .mobile-menu__container {
  height: 100%;
  padding: 48px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu-nav__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu-nav__link {
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--primary-color);
}

.mobile-menu-nav__link--active {
  color: var(--accent-color);
}

.mobile-contact {
  margin-bottom: 64px;
}

.mobile-contact__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-contact__tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  .mobile-contact__tel {
    font-weight: 500;
    font-size: 25px;
    line-height: 1.6;
    letter-spacing: 0.02em;
  }
}

.mobile-contact__mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  .mobile-contact__mail {
    font-weight: 500;
    font-size: 22px;
    line-height: 1.27;
    letter-spacing: 0.02em;
  }
}

.mobile-social {
  display: flex;
}

.mobile-social__item:not(:last-child) {
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile-social__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  text-decoration: none;
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  .mobile-social__link {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.83;
    letter-spacing: 0.02em;
  }
}

.mobile-close {
  position: absolute;
  top: 10px;
  right: 15px;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}
.mobile-close:hover, .mobile-close:focus .modal-close__icon {
  fill: var(--accent-color);
}

.mobile-close__icon {
  fill: var(--primary-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  width: 95%;
  height: 609px;
  padding: 40px;
  background: var(--background-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal__close {
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background: var(--main-btn-color);
  position: absolute;
  right: 8px;
  top: 8px;
  cursor: pointer;
}
.modal__close:active {
  background-color: #ebebeb;
}
.modal__close:hover, .modal__close:focus .modal__close-icon {
  fill: var(--accent-color);
}

.modal__close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--primary-color);
}

.modal__field {
  margin-bottom: 10px;
}

.modal__input-label {
  height: 14px;
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.01em;
  cursor: pointer;
  color: var(--secondary-color);
}

.modal__input-wrap {
  position: relative;
}

.modal__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input:focus {
  border-color: var(--accent-color);
}

.modal__input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input:focus + .modal__input-icon {
  fill: var(--accent-color);
}

.modal__field-textarea {
  margin-bottom: 20px;
}

.modal__textarea-comment {
  display: block;
  font-family: inherit;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__textarea-comment::-moz-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__textarea-comment:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__textarea-comment::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__textarea-comment:focus {
  border-color: var(--accent-color);
}

.modal__field-privacy {
  margin-bottom: 30px;
}

.modal__privacy-check {
  width: 15px;
  height: 15px;
}

.modal__privacy-text {
  height: 24px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}
@media screen and (min-width: 1200px) {
  .modal__privacy-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}

.modal__privacy-text div {
  width: 16px;
  height: 15px;
  border: 2px solid var(--primary-color);
  border-radius: 2px;
  margin-right: 8px;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__privacy-check:checked + .modal__privacy-text div {
  background-color: var(--accent-color);
  border-color: transparent;
  fill: var(--background-color);
}
.modal__privacy-check:focus + .modal__privacy-text div {
  border-color: var(--accent-color);
}

.modal__privacy-terms {
  color: var(--accent-color);
}

.modal__btn {
  width: 200px;
  height: 50px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__btn:hover, .modal__btn:focus {
  background-color: var(--modal-btn-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section-title {
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--primary-color);
}

.advantages__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.advantages__item {
  width: 100%;
}
.advantages__item:last-child {
  margin-right: 0;
}
@media screen and (min-width: 320px) {
  .advantages__item {
    width: calc((100% - 0px) / 1);
  }
}
@media screen and (min-width: 768px) {
  .advantages__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .advantages__item {
    width: calc((100% - 90px) / 4);
  }
}

.advantages__card-set {
  margin-bottom: 30px;
  width: 100%;
  height: 120px;
  background-color: var(--advantages-background-color);
  border-radius: 4px;
}

.advantages__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-color);
  text-align: center;
}
@media screen and (min-width: 768px) {
  .advantages__title {
    text-align: left;
  }
}

.advantages__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.command {
  background-color: var(--advantages-background-color);
}

.command__title {
  margin-bottom: 50px;
  text-align: center;
}

.employees-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.employees-list__item {
  background-color: var(--background-color);
  width: 100%;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.employees-list__item:last-child {
  margin-right: 0;
}
@media screen and (min-width: 320px) {
  .employees-list__item {
    width: calc((100% - 0px) / 1);
  }
}
@media screen and (min-width: 768px) {
  .employees-list__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .employees-list__item {
    width: calc((100% - 90px) / 4);
  }
}

.employees-list__container {
  padding: 30px;
  text-align: center;
}

.employees-list__people {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--primary-color);
}

.employees-list__position {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--secondary-color);
}

.command__employees-icons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 16px;
}

.employees-icons__item {
  width: 44px;
  height: 44px;
  margin: 0;
}

.employees-icons__link {
  width: 100%;
  height: 100%;
  background-color: var(--background-color);
  fill: var(--icon-color);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.employees-icons__link:hover, .employees-icons__link:focus {
  background-color: var(--accent-color);
  fill: var(--main-btn-color);
  outline: 0px;
}

.basement {
  background-color: var(--background-secondary-color);
  min-width: 100%;
  padding: 60px 0px;
  align-items: baseline;
}
@media screen and (min-width: 768px) {
  .basement {
    min-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .basement {
    min-width: 1200px;
  }
}

.basement__wrap {
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .basement__wrap {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: baseline;
  }
}
@media screen and (min-width: 1200px) {
  .basement__wrap {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
}

.address {
  display: block;
  text-align: center;
}
@media screen and (min-width: 320px) and (max-width: 1199px) {
  .address {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .address {
    text-align: left;
  }
}

.address__logo {
  color: var(--background-color);
}

.address__style {
  color: var(--accent-color);
}

.address__wrap {
  margin-top: 20px;
}

.contacts-basement__google {
  margin-bottom: 10px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--background-color);
}

.contacts-basement__list {
  margin-bottom: 10px;
}
.contacts-basement__list:last-child {
  margin-bottom: 0px;
}

.contacts-basement__link {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-basement__link:hover, .contacts-basement__link:focus {
  color: var(--accent-color);
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .social-networks {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .basement__social-networks {
    margin-left: 70px;
  }
}

.social-networks__title {
  margin-bottom: 20px;
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--background-color);
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .social-networks__title {
    text-align: left;
  }
}

.social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
@media screen and (min-width: 1200px) {
  .social-icons {
    justify-items: center;
  }
}

.social-icons__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--main-btn-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icons__link:hover, .social-icons__link:focus {
  background-color: var(--accent-color);
  outline: 0px;
}

@media screen and (min-width: 1200px) {
  .basement__mailing {
    margin-left: 93px;
  }
}

.mailing__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--background-color);
}
@media screen and (min-width: 1200px) {
  .mailing__title {
    text-align: left;
  }
}

.basement-form {
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .basement-form {
    display: flex;
  }
}

.basement-form__input {
  width: 100%;
  height: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  background-color: var(--background-secondary-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
.basement-form__input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.basement-form__input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.basement-form__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
@media screen and (min-width: 320px) and (max-width: 1199px) {
  .basement-form__input {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .basement-form__input {
    width: 358px;
  }
}

.basement-form__btn {
  width: 200px;
  height: 50px;
  display: inline-flex;
  align-items: center;
  padding: 10px 29px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .basement-form__btn {
    margin-left: 12px;
  }
}
.basement-form__btn:hover, .basement-form__btn:focus {
  background-color: var(--modal-btn-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.basement-form__icon {
  margin-left: 10px;
  fill: var(--background-color);
}
@media screen and (min-width: 1200px) {
  .basement-form__icon {
    align-items: center;
  }
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
  background-color: var(--background-color);
  border: 1px solid var(--background-portfolio-color);
}

@media screen and (min-width: 768px) {
  .header__wrap {
    justify-content: space-between;
  }
}

.navigation__style {
  color: var(--accent-color);
}

.menu {
  display: none;
}
@media screen and (min-width: 768px) {
  .menu {
    display: flex;
  }
}

.menu__item {
  margin-right: 50px;
}
.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu__link--active {
  position: relative;
  color: var(--accent-color);
}
.menu__link--active::after {
  content: "";
  position: absolute;
  display: block;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .menu__link--active::after {
    bottom: -3px;
  }
}
.menu__link:hover, .menu__link:focus {
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .header-contacts-wrap {
    display: block;
    margin-top: 21px;
    margin-bottom: 21px;
  }
}
@media screen and (min-width: 1200px) {
  .header-contacts-wrap {
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .header-contacts-wrap .contact__item:first-child {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) {
  .header-contacts-wrap .contact__item:first-child {
    margin-bottom: 0;
  }
}

.header__contact {
  display: none;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .header__contact {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .header__contact {
    display: flex;
  }
}

.contact__item:last-child {
  margin-right: 0;
}
@media screen and (min-width: 768px) {
  .contact__item {
    margin-right: 0;
  }
}
@media screen and (min-width: 1200px) {
  .contact__item {
    margin-right: 50px;
  }
}

.contact__link {
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--secondary-color);
  display: flex;
  align-items: center;
  fill: var(--secondary-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact__link:hover, .contact__link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .contact__link {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.contact__icon {
  align-items: baseline;
  margin-right: 10px;
}

.hero__style {
  text-align: center;
  background-color: var(--background-secondary-color);
  max-width: 480px;
  height: 400px;
  margin: 0 auto;
  background-image: var(--gradient-hero), url(../images/hero-mobile-1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero__style {
    background-image: var(--gradient-hero), url(../images/hero-mobile-2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero__style {
    max-width: 768px;
    background-image: var(--gradient-hero), url(../images/hero-tablet-1x.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero__style {
    background-image: var(--gradient-hero), url(../images/hero-tablet-2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero__style {
    max-width: 1600px;
    height: 600px;
    background-image: var(--gradient-hero), url(../images/hero-1x.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero__style {
    background-image: var(--gradient-hero), url(../images/hero-2x.jpg);
  }
}

.hero__container {
  padding: 118px 0;
  max-width: 360px;
}
@media screen and (min-width: 1200px) {
  .hero__container {
    min-width: 696px;
    padding: 200px 0;
  }
}

.hero__title {
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 696px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--background-color);
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
  }
}

.hero__btn {
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.hero__btn:active {
  background-color: #188ce8;
}

.projects-company {
  background-color: var(--background-color);
}

.button-projects {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
  color: var(--primary-color);
}
@media screen and (min-width: 768px) {
  .button-projects {
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .button-projects {
    margin-bottom: 50px;
  }
}

.button-projects__item {
  margin-bottom: 15px;
  margin-right: 8px;
}
.button-projects__item:last-child {
  margin-right: 0px;
  margin-bottom: 0;
}

.button-projects__name {
  padding: 6px 25px;
  border-radius: 4px;
  border: none;
  color: var(--primary-color);
  background-color: #f5f4fa;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-projects__name:hover, .button-projects__name:focus {
  background-color: var(--accent-color);
  color: var(--background-color);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  outline: 1px dotted;
}
@media screen and (min-width: 768px) {
  .button-projects__name {
    padding: 6px 22px;
  }
}

@media screen and (min-width: 768px) {
  .team-projects {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.team-projects__work {
  margin-bottom: 30px;
  border: none;
}
.team-projects__work:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 320px) {
  .team-projects__work {
    width: calc((100% - 0px) / 1);
  }
}
@media screen and (min-width: 768px) {
  .team-projects__work {
    width: calc((100% - 30px) / 2);
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .team-projects__work {
    width: calc((100% - 60px) / 3);
  }
}

.team-projects__link {
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-projects__link:hover, .team-projects__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.team-projects__wrap {
  overflow: hidden;
  position: relative;
}

.team-projects__image {
  display: block;
  background-color: var(--background-color);
}

.team-projects__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--main-btn-color);
  position: absolute;
  top: 0;
  padding: 63px 24px;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-projects__work:hover .team-projects__text, .team-projects__work:focus .team-projects__text {
  transform: translateY(0);
}

.team-projects__container {
  flex-grow: 1;
  padding: 20px 24px;
  border-right: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

.team-projects__title {
  margin: 0;
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-color);
}

.team-projects__category {
  display: inline-block;
  margin: 0;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.projects {
  padding-top: 0;
}
@media screen and (min-width: 320px) {
  .projects {
    display: none;
  }
}
@media screen and (min-width: 320px) and (min-width: 1200px) {
  .projects {
    display: block;
  }
}

.projects__title {
  margin-bottom: 50px;
}

.pic-list {
  display: flex;
}

.pic-list__item {
  margin-right: 30px;
  position: relative;
}
.pic-list__item:last-child {
  margin-right: 0;
}

.pic-list__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: var(--main-btn-color);
  position: absolute;
  bottom: 0;
  left: 0;
  justify-content: center;
  width: 100%;
  height: 70px;
  padding-top: 27px;
  background: rgba(47, 48, 58, 0.8);
}

.regular-customers__title {
  margin-bottom: 50px;
}

.company-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.company-list__item {
  width: 100%;
  height: 92px;
}
@media screen and (min-width: 320px) {
  .company-list__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 768px) {
  .company-list__item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .company-list__item {
    width: calc((100% - 150px) / 6);
  }
}

.company-list__link {
  width: 100%;
  height: 100%;
  border: 1px solid var(--icon-color);
  border-radius: 5px;
  fill: var(--icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.company-list__link:hover, .company-list__link:focus {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
  outline: 1px dotted;
}/*# sourceMappingURL=main.css.map */