.hero {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/Img.jpg);
  padding: 200px 0;
  max-width: 1600px;
  height: 600px;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
}

.hero__title {
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  @include font(900, 44px, 1.36, 0.06em);
  text-transform: uppercase;
  color: #ffffff;
}

.hero__btn {
  display: block;
  margin: 0 auto;
  padding: 10px 32px;
  align-items: center;
}
